
.inter {
  font-family: "Inter", sans-serif;
 
}
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #1A0B2E;
    --secondary-color: #230E3D;
    --text-color: white;
     --Linear: linear-gradient(
        47deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    
   
}
/* header */
header{
    background: var(--primary-color);
    width: 100%;
    height: auto;
    justify-content: center;
}
.head{
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
height: auto;
padding: 15px;

}
.logo{
     color: var(--text-color);
    font-size: 30px;
    font-weight: 700px;

}
.wave{
    color: var(--Linear);
}
.menu{
    display: inline;
    list-style: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    gap: 30px;
    display: flex;
   flex-direction: row;
}
button{
    padding: 15px 35px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    background: var(--Linear);
    border-radius: 50px;
    border: none;

}
button:hover{
    cursor: pointer;
    background: linear-gradient(
        77deg,
        rgba(255, 234, 0, 0.77),
        rgba(255, 255, 255, 0.622),
        rgb(89, 59, 111)
    );
    color: var(--text-color);
    transition: 0.5s;
    border: 1px solid white;

    
}
/* mobile header */
@media (max-width: 576px) {
    .logo{ 
    font-size: 18px;

}
.menu{
    font-size: 15px;
    gap: 5px;
    
}
button{
    padding: 10px 20px;
   
    font-size: 15px;
    

}
}





/* footer */
footer{
    background-image: url(./image/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5vh;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.foot{
   display: flex;
    flex-direction: column; 
    align-items: center;     
    text-align: center;
    padding: 30px 0;
}
.social ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-top: 15px;
}
.social ul li{
    color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}
.social ul li img{
    margin-right: 14px;
    align-items: center;
    justify-content: center;
    margin-bottom: -6px;
    
}