
.inter {
  font-family: "Inter", sans-serif;
 
}
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #1A0B2E;
    --secondary-color: #230E3D;
    --text-color: white;
    --accent-color: #00FF88;
     --Linear: linear-gradient(
        47deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    
   
}
/* header */
header{
    background: var(--primary-color);
    width: 100%;
    height: auto;
    justify-content: center;
    border-bottom: 1px solid #b6acef35;
}
.head{
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
height: auto;
padding: 15px;

}
.logo{
     color: var(--text-color);
    font-size: 30px;
    font-weight: 700px;

}
.wave {
    background: var(--Linear);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu{
    display: inline;
    list-style: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    gap: 30px;
    display: flex;
   flex-direction: row;
}
button{
    padding: 15px 35px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    background: var(--Linear);
    border-radius: 50px;
    border: none;
    margin-top: 10px;

}
button img , i{
    margin-left: 10px;
    margin-right: 10px
}
button:hover{
    cursor: pointer;
    background: linear-gradient(
        77deg,
        rgba(255, 234, 0, 0.77),
        rgba(255, 255, 255, 0.622),
        rgb(89, 59, 111)
    );
    color: var(--text-color);
    transition: 0.5s;
    border: 1px solid white;

    
}
/* mobile header */
@media (max-width: 576px) {
    .logo{ 
    font-size: 17px;
    font-weight: 500;

}
.menu{
    font-size: 15px;
    gap: 5px;
    
}
button{
    padding: 10px 20px;
   
    font-size: 15px;
    

}
}
/* main part */



/* hero section */
.hero{
    background-image: url(./image/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.herocirc{
    background-image: url(./image/hero-circle.png);
     background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 80px;
    margin-top: 80px;
    position: relative;
    display: inline-block;
   
}
.new{
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--primary-color);
    background: #00FF88;
    padding: 10px 30px;
    border-radius: 100px;
    display: inline;
 position: absolute;
    margin-left: 30px;
    top: 35px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
animation: fadeInRight 0.8s ease-out forwards;

}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.new:hover{
    background: var(--Linear);
    color: var(--text-color);
    transition: 0.3s;
    cursor: pointer;
}

.herotex h1{
    color: var(--text-color);
    font-size: 55px;
    font-weight: 600;
  
}
.herotex p{
    color: #fafafab5;
    font-size: 17px;
    font-weight: 400;
    margin: 10px;
}

.btn2{
    background: transparent;
    color: yellowgreen;
    border: 1px solid yellowgreen;
    border-radius: 100px;
    margin-left: 10px;
  


}
.btn2 img{
    margin-right: 10px;
}
.textcont{
    background: var(--primary-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.contenttex{
    padding: 60px;
   align-items: center;
   text-align: center;
   border-bottom: 1px solid #f6d4d425;
}
.contenttex h1{
    color: var(--text-color);
    font-size: 48px;
    font-weight: 600;
    padding: 10px ;
}
.contenttex p{
    color: #fafafab5;
    font-size: 17px;
    margin-top: 15px;
    font-weight: 400;
    line-height: 30px;
}
.textcard{
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    align-items: center;
    text-align: center;
}
.card1 h1{
    font-size: 48px;
    font-weight: 800;
    color: var(--accent-color);
    padding: 15px;
}
.card1 p{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    color: #fafafab5;
}


/* why choose us */


.whychose{
    background: var(--secondary-color);
    justify-content: center;
    text-align: center;
    align-items: center;
}
.whycoseus {
    padding: 100px;

}
.whycoseus h1{
    font-size: 48px;
    font-weight: 700;
    color: var(--text-color);
    padding: 20px;
}

.whycoseus h2{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
    margin: 15px 0px;
}
.whycoseus p{
    color: #e5d8d8a3;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}
.chosecard{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    margin: 20px;
    
}
.premium{
    background: #351165;
    padding: 40px;
    border-radius: 25px;
    align-items: center;
    text-align: start;
    justify-content: center;
    grid-row: span 2;
    padding-top: 150px;
   
}
.mobile{
    background: #351165;
    padding: 40px;
    border-radius: 25px;
    align-items: baseline;
    text-align: start;
    grid-column: span 2;
   
}
.global{
    background: #351165;
    padding: 40px;
    border-radius: 25px;
    align-items: baseline;
    text-align: start;
     grid-column: span 2;
   
}
.exclusiv{
    background: #351165;
    padding: 40px;
    border-radius: 25px;
    align-items: baseline;
    text-align: start;
    grid-column: span 2;
   
}
.rich{
    background: #351165;
    padding: 40px;
    border-radius: 25px;
    align-items: baseline;
    text-align: start;
   
}

.hv:hover{
    cursor: pointer;
    transition: 0.4s;
    background: var(--primary-color);
}


/* feature */
.vido{
    background: var(--primary-color);
    padding: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
   
}
.podcard{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 100px;
}
.card4{
    margin: 0px;
    padding: 0px;
    background: var(--secondary-color);
    width: 350px;
    border-radius: 15px;
}
.card4 iframe{
    border-radius: 15px 15px 0px 0px;
}
.podtext h1{
    color: var(--text-color);
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}
.potex{
    padding: 20px;
    text-align: start;
}
.potex h2{
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
}
.potex p{
    color: #e5d8d8a3;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
}
.potex span{
    color: var(--accent-color);
    gap: 10px;
    font-size: 17px;
    font-weight: 500;
    padding-top: 20px;
}

/* comment */


.comment{
    padding-top: 100px;
}
.comtex h1{
    color: var(--text-color);
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 30px;
}
.combox{
    display: flex;
    gap: 50px;
    text-align: center;
   margin-top: 30px;
   background: var(--secondary-color);
   margin-left: 50px;
   margin-right: 50px;
   padding: 30px;
   align-items: center;
   border-radius: 30px;

}
.comcon{
    text-align: start;
}
.comcon h2{
    color: var(--text-color);
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 20px;
}
.comcon p{
    color: #efe7e796;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 15px;
}
.comso img{
    margin: 10px;
 padding: 10px;
    border-radius: 50%;
    border: 1px solid yellowgreen;
    
}
/* mobile main body responsive */



@media (max-width: 576px) {
.hero{
   
    width: 100%;
    height: auto;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.herocirc{
    background-image: url(./image/hero-circle.png);
     background-repeat: no-repeat;
    background-position: center;
    
    padding: 40px;
    margin-top: 40px;
    position: relative;
    display: inline-block;
    background-size: contain;
   
}
.heroicon2 img{
   width: 80%;
}
.herotex h1{
    font-size: 35px;
}
.herotex p{
    font-size: 15px;
}
.textcard{
   padding: 30px;
    grid-template-columns: repeat(2 , 1fr);
    
}
.contenttex{
    padding: 30px;
 
}
.contenttex h1{
    
    font-size: 28px;
    
}
.contenttex p{
    
    font-size: 15px;
    
}
.card1 h1{
    font-size: 35px;
   
}
.card1 p{
    font-size: 17px;
    
}
.whycoseus {
    padding: 30px;

}
.whycoseus h1{
    font-size: 30px;
   
    padding: 15px;
}

.whycoseus h2{
    
    font-size: 20px;
    
}
.whycoseus p{

    font-size: 16px;
   
}
.chosecard{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap: 20px;
    margin: 20px;
    
}
.premium{
    
    padding: 30px;
   
   
}
.mobile{
    
    padding: 30px;
   
   
}
.global{
   
    padding: 30px;
  
   
}
.exclusiv{
    
    padding: 30px;
    
   
}
.rich{
   
    padding: 30px;
    
   
}


.vido{
   
    padding: 30px;
   align-items: center;
   justify-content: center;
   text-align: center;
}
.podcard{
    
    grid-template-columns: repeat(1 , 1fr);
     margin-left: 20px;
    
}
.card4{
    margin: 0px;
    padding: 0px;
    background: var(--secondary-color);
    width: 350px;
    border-radius: 15px;
    margin-left: 20px;
}
.card4 iframe{
    border-radius: 15px 15px 0px 0px;
}
.podtext h1{
    color: var(--text-color);
    font-size: 30px;
    
}
.potex{
    padding: 10px;
    text-align: start;
}
.potex h2{
    
    font-size: 18px;
   
}
.potex p{
   
    font-size: 16px;
   
}
.potex span{
    
    font-size: 16px;
   
}


.comment{
    padding-top: 50px;
}
.comtex h1{
    
    font-size: 35px;
    
}
.combox{
    display: list-item;
    list-style: none;
    

}
.comcon{
    text-align: center;
    margin-top: 10px;
}
.comcon h2{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}
.comcon p{
    color: #efe7e796;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 5px;
}
.comso img{
    margin: 10px;
 padding: 10px;
    border-radius: 50%;
    border: 1px solid yellowgreen;
    
}




}


















/* footer */
footer{
    background-image: url(./image/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5vh;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.foot{
   display: flex;
    flex-direction: column; 
    align-items: center;     
    text-align: center;
    padding: 30px 0;
}
.social ul {
    display: flex;
    list-style: none;
    gap: 40px;
    margin-top: 15px;
}
.social ul li{
    color: #fafafab5;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}
.social ul li img{
    margin-right: 14px;
    align-items: center;
    justify-content: center;
    margin-bottom: -6px;
    
}
.copyright{
    margin-top: 35px;
    color: rgba(235, 233, 231, 0.454);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

/* mobile footer */
@media (max-width: 576px) {
    .logo{ 
    font-size: 18px;
    }
    footer{
   
    padding: 2vh; 
}
.social ul {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding: 0px;
    gap: 10px 15px;
   
}
}